<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/zhuche.css' />
    <link rel="stylesheet" type="text/css" href='stylesheets/message.css'>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/message.min.js"></script>
  </head>
  <body>
  	<%- include('./head/head1.ejs')%>
  	<section class="container">
  		<div class="row">
  			<form class="col-xs-12 col-sm-6 col-sm-offset-3" id="form">
          <p class="alert alert-success">注册</p>
  				<div class="form-group">
  					<label for="">用户名</label>
  					<input type="text" class="form-control" id="username">
  				</div>
  				<div class="form-group">
  					<label for="">密码</label>
  					<input type="password" class="form-control" id="password">
  				</div>
          <div class="form-group">
            <label for="">昵称</label>
            <input type="text" class="form-control" id="nickname">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" id="present">提交</button>&nbsp;
            <a href="/denglu">去登录</a>&nbsp;
            <a href="/">返回首页</a>
          </div>          
  			</form>
  		</div>
  	</section>
  </body>
  <script type="text/javascript" src="/javascripts/zhuche.js"></script>
</html>